DATABASE_URL=postgres://postgres:password@localhost:5432/holdem_tournament_builder?sslmode=disable
TEST_DATABASE_URL=postgres://postgres:password@localhost:5432/holdem_tournament_builder_test?sslmode=disable